@model List<Transaction>

<h3>Transactions</h3>
<br />

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <td>Transaction Date</td>
            <td>Amount</td>
            <td>Transaction Type</td>
            <td>Title</td>
            <td>Category</td>
            <td>Account</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.TransactionDate</td>
                <td>@(transaction.Amount.ToString("c"))</td>
                <td>@transaction.TransactionType</td>
                <td>@transaction.Title</td>
                <td>@transaction.Category</td>
                <td>@transaction.Account</td>
            </tr>
        }
    </tbody>

</table>